.flexbox {
    width: 120%;
    margin: 0;
    margin-left: -10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.w33 {
    width: 33%;
}

.h500 {
    height: 500px;
}

.fs28 {
    font-size: 28px;
}

.fs24 {
    font-size: 24px;
}

.tl {
    text-align: left;
}

.grid-view {
    display: grid;
    grid-gap: 20px 20px;
    grid-auto-flow: column;
    justify-items: start;

}

.two-col {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 25%);
}

.three-col {
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(2, 25%);
}

.two-col-opt {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 15% 20% 25%;
}

.p-mg10 p {
    margin: 10px 0;
}
